@font-face {
    font-family: 'Handy Sans';
    src: url(../fonts/Handy_Sans_Condensed_Distressed/handysanscondensed-distressed-webfont.eot);
    src: url(../fonts/Handy_Sans_Condensed_Distressed/handysanscondensed-distressed-webfont.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Handy_Sans_Condensed_Distressed/handysanscondensed-distressed-webfont.woff2) format('woff2'),
        url(../fonts/Handy_Sans_Condensed_Distressed/handysanscondensed-distressed-webfont.woff) format('woff'),
        url(../fonts/Handy_Sans_Condensed_Distressed/handysanscondensed-distressed-webfont.ttf) format('truetype'),
        url(../fonts/Handy_Sans_Condensed_Distressed/handysanscondensed-distressed-webfont.svg) format('svg');
    font-weight: 300;
    font-style: normal;
}