@import 'libs/bootstrap-reboot.min';
@import 'libs/responsivelyLazy.min';

@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0;
	padding: 0;
	button:focus {
    outline: none;
	}
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.divider {
  width: 60px;
  height: 3px;
  background-color: var(--main-color);
  margin: 25px auto 0px auto;
}

p {
  margin: 0;
}

@import 'blocks/progress';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/about';

@import 'blocks/certificates';
@import 'blocks/certificates_media';

@import 'blocks/timer';

@import 'blocks/education';
@import 'blocks/education_media';

@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/javascript-project';
@import 'blocks/contacts';

@import 'blocks/media';
