@media screen and (max-width: 1010px) {
    fieldset {
        padding: 15px 0 20px 0;

        .contacts__wrapper {
            .contact_list {
                flex-wrap: wrap;
                justify-content: center;

                li {
                    margin: 20px 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 840px) {
    fieldset {
        .contacts__wrapper {
            .contact_list {
                li {
                    margin: 20px 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    fieldset {
        .contacts__wrapper {
            .contact_list {
                li {
                    margin: 20px 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 660px) {
    fieldset {
        .contacts__wrapper {
            .contact_list {
                li {
                    margin: 20px 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 620px) {
    fieldset {
        .contacts__wrapper {
            .contact_list {
                li {
                    margin: 20px 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 440px) {
    fieldset {
        .contacts__wrapper {
            .contact_list {
                li {
                    margin: 20px 20px;
                }
            }
        }
    }
}