@media screen and (max-width: 850px) {
	.countdown_wrapper {
		div {
			left: -40px;
		}

		strong {
			min-width: 70px;
			
			&:nth-child(1) {
				left: -250px;
			}
	
			&:nth-child(3) {
				left: -150px;
			}
	
			&:nth-child(5) {
				left: -50px;
			}
	
			&:nth-child(7) {
				left: 50px;
			}
	
			&:nth-child(9) {
				left: 150px;
			}
	
			&:nth-child(11) {
				left: 250px;
			}
		}

		small {
			min-width: 72px;
			font-size: 17px;
			
			&:nth-child(2) {
				left: -250px;
			}
	
			&:nth-child(4) {
				left: -150px;
			}
	
			&:nth-child(6) {
				left:-50px;
			}
	
			&:nth-child(8) {
				left: 50px;
			}
	
			&:nth-child(10) {
				left: 150px;
			}
	
			&:nth-child(12) {
				left: 250px;
			}
		}
	}
}

@media screen and (max-width: 620px) {
	.experience_wrapper {
		h3 {
			font-size: 60px;
		}
	}

	.countdown_wrapper {
		div {
			left: 102px;
		}

		strong {
			min-width: 90px;

			&:nth-child(1) {
				left: -300px;
			}
	
			&:nth-child(3) {
				left: -150px;
			}
	
			&:nth-child(5) {
				left: 0px;
			}

			&:nth-child(7) {
				display: none;
			}

			&:nth-child(9) {
				display: none;
			}

			&:nth-child(11) {
				display: none;
			}
		}

		small {
			min-width: 92px;
			font-size: 20px;
			
			&:nth-child(2) {
				left: -300px;
			}

			&:nth-child(4) {
				left: -150px;
			}

			&:nth-child(6) {
				left:0px;
			}

			&:nth-child(8) {
				display: none;
			}

			&:nth-child(10) {
				display: none;
			}

			&:nth-child(12) {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 440px) {
	.experience_wrapper {
		h3 {
			font-size: 45px;
		}
	}

	.countdown_wrapper {
		div {
			left: 57px;
		}

		strong {
			min-width: 80px;

			&:nth-child(1) {
				left: -200px;
			}
	
			&:nth-child(3) {
				left: -100px;
			}
	
			&:nth-child(5) {
				left: 0px;
			}
		}

		small {
			min-width: 82px;
			font-size: 20px;
			
			&:nth-child(2) {
				left: -200px;
			}

			&:nth-child(4) {
				left: -100px;
			}

			&:nth-child(6) {
				left:0px;
			}
		}
	}
}

@media screen and (max-width: 330px) {
	.experience_wrapper {
		h3 {
			font-size: 40px;
		}
	}
	
	.countdown_wrapper {
		div {
			left: 59px;
		}
	}
}