@media screen and (max-width: 425px) {
	.footer__wrapper {
		ul {
			li {
				padding: 10px 0;
			}
		} 
	}
}

@media screen and (max-width: 375px) {
	.footer__wrapper {
		ul {
			li {
				font-size: 15px;
			}
		} 
	}
}

@media screen and (max-width: 320px) {
	.footer__wrapper {
		ul {
			li {
				font-size: 14px;
			}
		} 
	}
}