header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.01);
	z-index: 1;
}

.header_fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background: linear-gradient(#01042d, #000);
	box-shadow: 0 10px 10px 0 rgba(1, 4, 45, 0.5);
	animation: showElement_header;
	animation-duration: 1s;
}

.header_wrapper {
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	h2 {
		font-size: 30px;
	}

	.switcher {
		position: absolute;
		visibility: hidden;
		left: -9999px;
	}

	label {
		display: none;
		cursor: pointer;
		height: 30px;

		img {
			height: 100%;
		}
	}

	// >>>>> Navigation menu <<<<<
	%line {
		content: '';
		position: absolute;
		height: 33.33%;
		width: 0;
		background-color: #00ffea;
		transition: 0.4s ease;
	}

	nav {

		ul {
			list-style-type: none;
			padding: 0;
			display: flex;
			justify-content: space-around;

			li {
				position: relative;
				padding: 1px 5px;
				margin: 0 5px;
				height: 100%;
				display: flex;
				justify-content: space-around;
				align-items: center;

				a {
					font-size: 16px;
					font-weight: 600;
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					padding: 10px 5px;
					transition: 0.4s ease;
					z-index: 1;

					&::before {
						@extend %line;
						left: 0;
						bottom: 66.66%;
						border-radius: 10px 10px 0 0;
					}
				}

				&::before {
					@extend %line;
					right: 0;
					bottom: 33.33%;
				}

				&::after {
					@extend %line;
					left: 0;
					bottom: 0;
					border-radius: 0 0 10px 10px;
				}

				&:hover {

					a {
						color: #02007a;

						&::before {
							width: 100%;
						}
					}

					&::after,
					&::before {
						width: 100%;
					}
				}
			}
		}
	}
	// >>>>> Navigation menu / END <<<<<
}