@media screen and (max-width: 425px) {
	.magic_library__wrapper {
		a {
			.wave {
				top: -210px;

				&::after,
				&::before {
					left: 40%;
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.magic_library__wrapper {
		a {
			font-size: 40px;

			.wave {
				top: -215px;

				&::after,
				&::before {
					left: 35%;
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.magic_library__wrapper {
		a {
			font-size: 35px;

			.wave {
				top: -210px;
			}
		}
	}
}
