.page_up {

	&__arrow {
		display: none;
	}

	&__show {
		display: block;
		position: fixed;
		bottom: 40px;
		right: 15px;
		width: 60px;
	}

    &__animate {
        animation-name: arrowtop;
        animation-duration: 1.5s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-play-state: paused;

        &:hover {
            animation-play-state: initial;
        }
	}
	
	

    img {
        width: 100%;
    }
}