@media screen and (max-width: 1024px) {
	.page_up {
		right: 10px;
		bottom: 20px;
	}
}

@media screen and (max-width: 768px) {
	.page_up {
		right: 5px;
		bottom: 10px;
	}
}

@media screen and (max-width: 425px) {
	.page_up {
		right: 5px;
		bottom: 5px;
		width: 50px;
	}
}

@media screen and (max-width: 375px) {
	.page_up {
		img {
			display: none;
		}
	}
}