.portfolio_section {
    padding: 70px 0 100px 0;
}

.portfolio__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


// > Slick-Slider - Arrows <
.cover {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;

    .box_cover {
		padding: 10px 40px;
    }

    .slick-prev {
        background-color: rgba(255, 255, 255, 0);
        border: none;

        img {
            height: 50px;
        }
    }

    .slick-next {
        background-color: rgba(255, 255, 255, 0);
        border: none;

        img {
            height: 50px;
        }
    }
}
// > Slick-Slider - Arrows / END <


// > Slick-Slider - Dots <
.slick-dots-buttons {
	position: absolute;
	left: 50%;
	bottom: -60px;
	transform: translateX(-50%);
	
	display: flex;
	flex-direction: row;

	li {
		margin: 5px 10px;
		list-style-type: none;

		button {
			height: 20px;
			width: 20px;
			border-radius: 50%;
			
			background: rgba(0, 0, 0, 0.3);
			border: 1px solid rgb(0, 255, 221);
			box-shadow: 1px 1px 10px rgba(0, 255, 221, 0.3);
			color: rgba(0, 0, 0, 0);
			transition: 0.5s ease;

			&:hover {
				background: rgba(0, 255, 221, 0.7);
				transition: 0.2s ease;
			}
		}
	}

	.slick-active {
		height: 20px;
		width: 20px;
		border-radius: 50%;

		background: rgba(0, 255, 221, 0.7);
		border: 1px solid rgb(0, 255, 221);
		box-shadow: 0px 0px 20px rgba(0, 255, 221, 0.6);
		transition: 0.5s ease;
	}
}
// > Slick-Slider - Dots / END <


.content {
    position: relative;
    padding: 20px;
    color: #ffffff;

    h2 {
        position: absolute;
        top: -50px;
        right: 20px;
        margin: 0;
        padding: 0;
        font-size: 160px;
        line-height: 1.1;
        color: rgba(255,255,255,.06);
        transition: 0.5s;
    }

    h3 {
        font-size: 24px;
        letter-spacing: 2px;
        line-height: 1.2;
    }

    p {
        margin: 0;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.3;
    }

    button {
        cursor: pointer;
        position: relative;
        margin: 20px 0 0;
        padding: 10px 10px;
        background-color: transparent;
        border: 1px solid #ffffff;
        color: #ffffff;
        transition: 0.5s;
        transform: translateY(-40px);
        opacity: 0;
        visibility: hidden;
        text-transform: uppercase;
        font-size: 12px;
        z-index: 2;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
            color: #000000;
            background-color: #fff;
        }
    }
}

.box {
    width: 260px;
    min-height: 400px;
    cursor: pointer;
    position: relative;
    background-color: #040a20;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid rgba(0,0,0,.5);

    &:hover {
        .content {
            h2 {
                top: -110px;
            }

            button {
                transform: translate(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: rgba(255,255,255,.06);
    }

    &::before {
        content: '';
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        background-color: #fff;
        transform: skew(2deg,2deg);
        z-index: -1;
    }

    &:nth-child(1) {
        &:before {
            background: linear-gradient(#ff0000, #0037ff);
        }
    }

    &:nth-child(2) {
        &:before {
            background: linear-gradient(#d8ff00, #17f4ff);
        }
    }

    &:nth-child(3) {
        &:before {
            background: linear-gradient(#af36ff, #ff0070);
        }
    }
}


// > Pop-Up Modals <
.overlay_portfolio {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50;
    display: none;

    .overlay_close_portfolio {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 50px;
        cursor: pointer;
        z-index: 51;
    }

    .card__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

        img {
            width: 100%;
			border-radius: 20px;
			box-shadow: 0px 0px 20px #fff;
        }

        a {
            color: red;
            font-size: 40px;
            padding: 10px 15px;
            margin-top: 30px;
            text-decoration: none;
            border: 1px solid red;
            border-radius: 5px;
            transition: 0.4s ease;

            &:hover {
                color: white;
                text-shadow: 1px 1px 20px #000;
                background: #e20000;
                box-shadow: 1px 1px 20px #e20000;
			}
			
			&:checked {
				color: white;
                text-shadow: 1px 1px 20px #000;
                background: #e20000;
                box-shadow: 1px 1px 20px #e20000;
			}
        }

        .code_revue {
            float: left;
        }

        .open_site {
            float: right;
        }
    }
}
// > Pop-Up Modals / END <