.profession_section {
    background: url(../img/background/background_profession.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
}

.profession__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        position: relative;
        top: 60px;
        left: 0;
        color: #00ffff;
        text-shadow: 1px 1px 10px rgba(0, 255, 255, 0.7);
        font-size: 100px;
        letter-spacing: 10px;
        padding-top: 70px;
        padding-bottom: 75vh;
    }
}