// >>>>> Page Scroll <<<<<
@keyframes animate_page_scroll {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}
// >>>>> Page Scroll / END <<<<<


// >>>>> Header <<<<<
@keyframes showElement_header {
    0% {
        opacity: 0;
        top: -200px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}
// >>>>> Header / END <<<<<


// >>>>> Skills <<<<<
@keyframes move {
    100% {
        background-position: 35px 0;
    }
}
// >>>>> Skills / END <<<<<


// >>>>> My Magic Library <<<<<
@keyframes wave {
	0% {
		transform: translate(-50%, -75%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -75%) rotate(360deg);
	}
}
// >>>>> My Magic Library / END <<<<<


// >>>>> Arrow Top Pages <<<<<
@keyframes arrowtop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
// >>>>> Arrow Top Pages / END <<<<<