@media screen and (max-width:500px) {
	.footer {
		&__info {
			width: 375px;
			height: 290px;
		}

		&__addr {
			font-size: 25px;
			line-height: 1.1;
		}
	}
}

@media screen and (max-width:375px) {
	.footer {
		&__info {
			width: 340px;
			padding: 50px 38px 60px 38px;
		}
	}
}

@media screen and (max-width:320px) {
	.footer {
		&__info {
			width: 300px;
			padding: 50px 10px 60px 10px;
		}
	}
}